<div
  style="padding: 10px 0px;
        margin:10px 0px;
        background: var(--primary-200);
        text-align: center;
        z-index: 10;"
>You're in project "<a
    href="{{@outletArgs.category.ancestors.0.url}}"
    style="text-decoration:underline;text-decoration-color: var(--tertiary); color:var(--primary); font-weight: bold;"
  >{{@outletArgs.category.ancestors.0.name}}</a>"
</div>