@import "edit-category";
@import "project-banner";
@import "project-dropdown";
@import "project-link";
@import "project-members";
@import "projects";

@media screen and (width >= 925px) {
  // Since the project banner is sticky, we need a
  // little more space before the topic navigation.
  .container.posts .topic-navigation {
    top: calc(var(--header-offset, 60px) + 4em);
  }
}

.hide-navigation-menu-categories {
  .sidebar-section[data-section-name="categories"] {
    display: none;
  }
}

.highlight-projects-sidebar-link {
  @keyframes d-rainbow-shimmer {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }

  .sidebar-section-link[href="/projects"] {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        45deg,
        #d0232b,
        #f15d22,
        #fff9ae,
        #00a94f,
        #00aeef
      );
      border-radius: inherit;

      // Turn the background into a 2px border
      clip-path: polygon(
        evenodd,
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 0,
        2px 2px,
        calc(100% - 2px) 2px,
        calc(100% - 2px) calc(100% - 2px),
        2px calc(100% - 2px),
        2px 2px
      );
    }
  }
}

// This ensure both the edit category button and the
// category notifications tracking button are at the end
// of the navigation controls. This is needed because
// we use a connector to add the "new category" button
// on some pages which changes the order of the buttons.
.navigation-controls > .edit-category,
.navigation-controls > .category-notifications-tracking {
  order: 10;
}
