@import "edit-category";
@import "members";
@import "project-banner";
@import "project-dropdown";
@import "project-link";
@import "projects";

@media screen and (width >= 925px) {
  // Since the project banner is sticky, we need a
  // little more space before the topic navigation.
  .container.posts .topic-navigation {
    top: calc(var(--header-offset, 60px) + 4em);
  }
}

.hide-navigation-menu-categories
  .sidebar-section[data-section-name="categories"] {
  display: none;
}


// This ensure both the edit category button and the
// category notifications tracking button are at the end
// of the navigation controls. This is needed because
// we use a connector to add the "new category" button
// on some pages which changes the order of the buttons.
.navigation-controls > .edit-category,
.navigation-controls > .category-notifications-tracking {
  order: 10;
}