.projects {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    body & > * {
      margin-bottom: 0;
    }

    &-matches {
      margin-left: 1rem;
      color: var(--primary-medium);
      font-size: var(--font-down-1);
    }

    &-sort-by {
      margin-left: auto;
    }
  }

  &-empty .empty-state {
    padding: 0.5em 0;
  }
}
