.projects {
  &-header {
    display: flex;
    background: var(--primary-low);
    padding: 0.75rem;
    justify-content: space-between;

    body & > * {
      margin-bottom: 0;
    }

    &-start,
    &-end {
      display: flex;
      gap: 0.75rem;
      align-items: center;
    }

    &-matches {
      color: var(--primary-medium);
      font-size: var(--font-down-1);
    }

    &-toggle {
      display: flex !important;
      flex: 1 0 300px;
      flex-wrap: nowrap;
      align-items: center;
    }

    &-sort-by {
      display: flex;
      align-items: center;
    }
  }

  &-empty .empty-state {
    padding: 0.5em 0;
  }

  &-list {
    thead tr th.category {
      &::after {
        content: var(--projects-list-th, "Project");
      }

      span {
        display: none;
      }
    }

    tbody tr td .category-logo {
      float: right;
    }
  }
}
