.projects {
  &-header {
    display: flex;
    align-items: center;
    background: var(--primary-low);
    padding: 0.75rem;

    body & > * {
      margin-bottom: 0;
    }

    &-matches {
      margin-left: 1rem;
      color: var(--primary-medium);
      font-size: var(--font-down-1);
    }

    &-show-subcategories {
      display: flex;
      align-items: center;
      margin-left: auto;

      &:after {
        margin: 0 0.5rem;
        color: var(--primary-med-or-secondary-high);
        content: "|";
      }

      .d-toggle-switch--label {
        margin-bottom: 0;
      }
    }

    &-sort-by {
      display: flex;
      align-items: center;
    }
  }

  &-empty .empty-state {
    padding: 0.5em 0;
  }

  &-list thead tr th.category {
    &:after {
      content: var(--projects-list-th, "Project");
    }

    span {
      display: none;
    }
  }
}
