.project-banner {
  &--sticky {
    @media screen and (min-width: 925px) {
      position: sticky;
      left: 0;
      top: var(--header-offset);
      z-index: 900;
    }
  }

  &__wrapper {
    display: block;
    padding: 10px 0px;
    margin: 0 0 0.75em;
    background: var(--primary-low);
    text-align: center;
    z-index: 10;

    &__link {
      font-size: 1em;
    }
  }
}
