.project-banner {

  &__wrapper {
    display: block;
    padding: 10px 0px;
    margin: 0 0 20px;
    background: var(--primary-200);
    text-align: center;
    z-index: 10;
  }

  a.project-banner__wrapper__link {
    text-decoration: underline;
    text-decoration-color: var(--tertiary);
    font-weight: bold;
    color: var(--primary);
  }
}
